.invoice_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* horizontally center */
    justify-content: center;
    /* vertically center if needed */
    padding: 24px;
}

.header_invoice {
    font-size: 40px;
    color: green;
    /* override parent styles */
    text-align: center;
}

.content_invoice {
    font-size: 24px;
    color: tomato;
    /* override parent styles */
    text-align: center;
}